<div class="container admin-container">
	<h1>Admin Panel</h1>

	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="radio" name="options" id="option1" autocomplete="off" checked> LeftBrain
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="options" id="option2" autocomplete="off"> RightBrain
		</label>
	</div>

	<h2 id='brain-creation-header'>LeftBrain Creation:</h2>
	<form action='leftbrain/create' method="POST" >

		<div class="form-group">
			<label for="title">LeftBrain Title:</label>
			<input class="form-control" type="text" name="title">
		</div>
		<div class="form-group">
			<label for="body">LeftBrain Body:</label>
			<textarea class="form-control" rows="3" name="body"></textarea>
		</div>
		<input type="submit" name="submit" class="btn btn-primary">
	</form>
</div>
<div class="container left-feed-container">
	<h2>Left Brain Feed: </h2>
	<% unless @leftbrain == [] %>
		<% @leftbrain.each do |p| %>
			<div class="container post"> 
				<h2><%= p.title.upcase %></h2>
				<p class="date"><%= p.created_at.strftime("Created: %m/%d/%Y at %l:%M %p : %z UTC") %></p>
				<p><%= h(p.body).gsub(/\n/, '<br/>') %></p>
				<br>
				<a href="/leftbrain/<%= p.id %>/addphoto">Add Files</a> | 
				<a href="/leftbrain/<%= p.id %>">Edit Post</a> | 
				<a href="/leftbrain/<%= p.id %>/delete">Delete Post</a>
			</div>
			
		<% end %>
	<% else %>
		<p>There are no LeftBrain posts yet...</p>
	<% end %>
</div>
<div class="container right-feed-container">
	<h2>Right Brain Feed: </h2>
	<% unless @rightbrain == [] %>
		<% @rightbrain.each do |p| %>
			<div class="container post"> 
				<h2><%= p.title.upcase %></h2>
				<p class="date"><%= p.created_at.strftime("Created: %m/%d/%Y at %l:%M %p : %z UTC") %></p>
				<p><%= h(p.body).gsub(/\n/, '<br/>') %></p>
				<a href="/rightbrain/<%= p.id %>/addphoto">Add Files</a> | 
				<a href="/rightbrain/<%= p.id %>">Edit Post</a> | 
				<a href="/rightbrain/<%= p.id %>/delete">Delete Post</a>
			</div>
		<% end %>
	<% else %>
		<p>There are no RightBrain posts yet...</p>
	<% end %>
</div>